.song-list {
  background: #1a1a17a0;
  margin-bottom: 10px;
}
.song-listing-top {
  padding: 1.2rem 1rem;
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.play-circle:hover,
.heart-outlined:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.song-heading {
  position: sticky;
  z-index: 9999;
  top: 70px;
  padding: 10px 20px;
  display: flex;
  background: #1a1a17;
  border-bottom: solid 0.5px #c3c4c6;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.song-heading span {
  font-size: 14px;
  font-weight: 400;
  color: #c3c4c6;
}
.songs-container {
  padding: 10px 20px;
}
.no,
.sl-no {
  flex: 0.05;
}
.title,
.song-info-wrapper,
.album,
.song-album,
.date-added,
.song-date {
  flex: 0.4;
}
.length,
.song-length {
  flex: 0.05;
}

.song-wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 10px;
  color: #c3c4c6;
  cursor: pointer;
  margin: 10px 0;
}
.song-wrapper:hover {
  background: #313133;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.song-info-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.song-image {
  display: grid;
  place-items: center;
  flex: 0.16;
}
.song-image img {
  width: 90%;
  object-fit: contain;
}
.song-title-info {
  flex: 0.84;
}
.song-title-info p:hover,
.song-album p:hover {
  text-decoration: underline;
}
.song-name {
  color: #fff;
  font-size: 15px;
  margin-bottom: 5px;
}
.artist {
  font-size: 13px;
  color: #c3c4c6;
}
.song-date {
  display: flex;
  align-items: center;
}
.icon {
  margin-left: auto;
  margin-right: 30%;
}
