.song-card{
    width: calc(100% /6.2);
    position: relative;
    padding: 0.99rem;
    background: #141414;
    transition: all ease-in-out 300ms;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
    cursor: pointer;
}
.song-card-image-holder{
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.3), 0 2px 4px -2px rgb(0 0 0 / 0.3);
}
.song-card-image-holder img{
    width: 180px;
    height: 165px;
    object-fit: fill;
}
.song-card-info{
    padding: 10px 0;

}
.song-card-title{
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-weight: 600;
    margin-left: 8px;
}
.song-card-description{
    font-size: 14px;
    color: #aaa;
    font-weight: 400;
    max-height: 3em;
    overflow: hidden;
    line-height: 1.6;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-left: 8px;

}

.play-button{
    top: 40%;
    right: 10%;
    position: absolute;
    opacity: 0;
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
}
.song-card:hover .play-button{
    opacity: 1;
}
.song-card:hover{
    background: #272727;
}