.song-top-card-container.song-top-card .playlist-head-container{
    background: linear-gradient(#21213f,#141425);
}

.artist-album-song-details-container{
    display: flex;
    padding: 1.5rem;
    column-gap: 1.5rem;
}
.artist-album-image{
    width: 232px;
    height: 232px;
    flex: 0.2;
    min-width: 232px;
}
.artist-album-image img{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    width: 100%;
    height: 100%;
}
.artist-album-song-info-container{
    
    font-size: 14px;
    font-weight: 600;
}
.song-text{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.album-name-text{
    font-family: "Heebo";
    text-transform: capitalize;
    font-size: 4.6rem;
    font-weight: 600;
    
    
}
.artist-album-name-song-length-container{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    padding-top: 1rem;
}
.image-and-name-container{
    display: flex;

}
.image-and-name-container img{
    width: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.image-and-name-container a{
    text-decoration: none;
    color: #fff;
    padding-top: 6px;
    font-weight: 700;
}
.image-and-name-container a:hover{
    text-decoration: underline;
}
.artist-album-name-song-length-container span{
    margin: 0px 4px;
   
}
.playlist-bottom-container1{
    background: linear-gradient(#0e0e19 1%, rgb(18, 18, 18, 0) 90%);
    padding-left: 1rem;
    padding-top: 1rem;
}
.playlist-icons-container{
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
    margin-bottom: 1.5rem;
}
.playlist-play-icon:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.heart-oulined-icon,
.elipises-outlined-icon{
    color: #aaa;
    font-size: 30px;

}
.heart-oulined-icon:hover,
.elipises-outlined-icon:hover{
    color: #fff;
}

.artist-album-signup-login-container{
    background: #2e77d0;
    width: 47%;
    display: flex;
    flex-direction: column;
    line-height:2.3;
    padding: 1.5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.artist-album-signup-login-container p{
    font-size: 17px;
    font-weight: 800;
}
.lyrics-signup-and-login{
    margin-left: auto;
    
}
.lyrics-signup-btn,
.lyrics-login-btn{
    height: 50px;
    width: 120px;
    
    font-size: 14px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    border-width: 0;
}
.lyrics-login-btn{
    background: transparent;
    color: #fff;
    font-weight: 600;
}
.lyrics-signup-btn{
    color: #000;
    font-weight: 600;
}

.lyrics-signup-btn:hover,
.lyrics-login-btn:hover{
    font-weight: 700;
    transform: scale(1.1);
    
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.album-artist-image-and-info{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    column-gap: 15px;
    margin: 1.5rem 0;
    padding: 0.5rem;
    cursor: pointer;
}
.album-artist-img img{
    height: 75px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
}
.album-artist-info{
    line-height: 1.5;
}
.album-artist-image-and-info:hover{
    background: #262628;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.artist-name:hover{
    text-decoration: underline;
}

.popular-tracks-of-artist{
    line-height: 1.5;
    margin: 2rem 0;
}

.popular-tracks-of-artist p{
    font-size: 15px;
    color: #aaa;
}
.popular-tracks-of-artist h1{
    font-size: 22px;
    font-weight: 900;
    
}

.artist-album-cards-containers{
    margin-bottom: 2.5rem;
}

.artist-specialized-heading{
    font-size: 24px;
    font-weight: 600;
}
.album-song-cards-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.3rem;
    column-gap: 16px;
}
.album-song-cards-container{
    margin-left: -19px;
}

.artist-album-container.song .song-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .artist-album-container.song .playlist-head {
    font-size: 4rem;
    line-height: 1.3;
  }
  .album-song-cards-container.album-song .song-card-title{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-left: 8px;
    overflow: hidden;
  }
  .album-song-cards-container.album-img .song-card-image-holder{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.from-the-single-container{
    display: flex;
    background: #2a2a2a;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-right: 27px;
    margin-top: 1.5rem;
    cursor: pointer;
    margin-bottom: 0.5px;
}
.from-the-single-img-container{
    width: 80px;
    height: 80px;
    
}
.from-the-single-img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 7px;

}
.from-the-single-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    font-size: 11px;
    line-height: 1.5;
}
.from-the-single-desc{
    font-size: 16px;
    font-weight: 600;
}
.from-the-single-desc:hover{
    text-decoration: underline;
}
.from-the-single-container:hover{
    background: #4a4a4a;
}
.artist-album-cards-containers.from-the-single-below-card .artist-album-card-container{
    margin-left: 1px;
    margin-right: 27px;
}
.©-and-℗-container{
    font-size: 11px;
    font-weight: 400;
    color: #aaa;
    margin-bottom: 1rem;
}
.artist-album-cards-containers.from-the-single-below-card .artist-album-card-name{
    margin-left: -5rem;
}