.author-details-head-container .playlist-head-container{
    background: url("https://i.scdn.co/image/ab67616d00001e02b2f6abdab1a5f21816308208");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}