.home{
    
    padding: 0 10px;
}

.section-top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.section-head{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.section-head:hover{
    text-decoration: underline;
}

.show-all{
    text-decoration: none;
    font-weight: 800;
    font-size: 15px;
    color: #818181;
}
.show-all:hover{
    text-decoration: underline;
}
.song-card-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.3rem;
    column-gap: 16px;
}
