
.playlist-bottom-container{
    background: linear-gradient(#232a2e 1%, rgb(18, 18, 18, 0
    ) 90%);
    
}
.playlist-icons-container{
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
    padding-left: 1.5rem;
    padding-top: 1.5rem                                                                                      ;
}
.playlist-play-icon:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.playlist-spotyfy-text:hover{
    text-decoration: underline;
}
.heart-oulined-icon,
.elipises-outlined-icon{
    color: #aaa;
    font-size: 30px;

}
.heart-oulined-icon:hover,
.elipises-outlined-icon:hover{
    color: #fff;
}

.playlist-songs-and-album-head-container{
    position: sticky;
    top: 75px;
    z-index: 9999;
    display: flex;
    padding-left: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: #b1b1b1;
    font-size: 15px;
    padding-right: 1.2rem;
    background: #000;
    margin-bottom: 10px;
    border-bottom: solid 0.5px #333;
    
    
}
.hash-and-title-head{
    flex: 0.4;
    display: flex;
    margin-left: 1.5rem;
}

.album-head{
    flex: 0.375;
}
.date-added-head{
    flex: 0.35;
}
.hash-head{
    flex: 0.1;
    font-size: 16px;
}
.clock-icon{
    flex: 0.1;
}

.album-card-container{
    counter-reset: item;
    list-style-type: none;
}