.song-details {
  background: linear-gradient(#325f73, #111);
}
.song-head {
  display: flex;
  padding: 1.3rem;
}
.likes-and-songs-container {
  display: flex;
  column-gap: 5px;
  font-size: 14px;
  color: #dcdcdc;
  align-items: center;
}
.song-image-container {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  flex: 0.2;
  height: 232px;
  width: 232px;
  min-width: 232px;
}
.song-image-container img {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  width: 100%;
  height: 100%;
}
.song-info {
  padding: 1.4rem 1rem;
}
.song-title {
  font-family: "Inter";
  font-size: 5rem;
  font-weight: 900;
}
.song-description {
  margin: 15px 0;
  text-transform: capitalize;
  color: #dcdbdb;
  font-size: 12px;
  font-weight: 300;
}
.spotify-logo {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
.spotify-logo img {
  width: 20px;
  object-fit: contain;
  mix-blend-mode: lighten;
}
.spotify-logo a {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}
.time {
  color: #dcdbdb;
}
