footer {
  padding: 3rem 1.5rem;
  background: rgb(18, 18, 18);
}
.links-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: solid 0.2px #818181;
}
.links-container ul {
  display: block;
  padding: 5px;
  list-style: none;
  color: #818181;
  font-size: 14px;
  font-weight: 400;
}
.list-head {
  color: #fff;
  font-size: 16px;
  margin: 10px 0;
  font-weight: 600;
}
.list-items {
  padding: 10px 0;
}

.social {
  display: flex;
  padding: 5px;
  column-gap: 10px;
}
.social .icons {
  width: 40px;
  height: 40px;
  background: #272727;
  cursor: pointer;
  display: grid;
  place-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.icons:hover {
  background: #616161;
}
.copyright {
  font-size: 14px;
  margin-top: 20px;
  padding: 10px 0;
  color: #818181;
  font-weight: 400;
}
